.header {
  padding: 2em 6em;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
}

/* Logo */
.header__logo {
  display: flex;
  font-size: 1.7rem;
  margin-right: 1.5em;
  order: 1;
}

.logo-text {
  margin-left: 0.5em;
  color: #474747;
}

/* Form */
.header__search-form {
  position: relative;
  order: 2;
}

.header__search-form__input {
  padding: 1.2em;
  width: 25rem;
  border-radius: 20px;
  border: none;
  background-color: var(--light-gray);
}

.header__search-form__input {
  color: #727273;
}

.header__search-form__input::placeholder {
  color: var(--medium-gray);
}

.header__search-form__input:focus {
  outline: none;
}

.header__search-form__button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px;
  width: 4em;
  background-color: transparent;
  border: navajowhite;
  cursor: pointer;
  color: var(--medium-gray);
}

/* Button */

.header__button-container {
  margin-left: auto;
  order: 3;
}

.header__button {
  padding: 1.2em 5em;
  border: none;
  font-size: 0.9em;
  cursor: pointer;
  background-color: var(--cherry-color);
  color: white;
}

@media (max-width: 1099px) {
  .header {
    padding: 2em 2.5em;
  }

  /* Form */
  .header__search-form__input {
    width: 22rem;
  }
}

@media (max-width: 856px) {
  /* Form */
  .header__search-form__input {
    width: 20rem;
  }

  .header__button {
    padding: 1.2em 3em;
  }
}

@media (max-width: 799px) {
  .header__container {
    justify-content: space-between;
  }

  .header__logo {
    margin-right: 0;
  }

  /* Form */
  .header__search-form {
    order: 3;
  }

  .header__search-form__input {
    display: none;
  }

  .header__search-form__button {
    position: relative;
    right: 0;
    width: auto;
    font-size: 1.3em;
  }

  /* Login */
  .header__button-container {
    order: 2;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .header {
    padding: 2em 1em;
  }

  .header__logo {
    font-size: 1.3rem;
  }

  .header__button {
    padding: 1em 1.5em;
  }

  .createProducts__title {
    font-size: 1.5em;
  }
}
